<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12" th:object="${properties}">
                <article>
                    <header>
                        <h2 th:text="|GitHub Synchronization Info|">GitHub Synchronization Info</h2>
                    </header>
                    <label class="col-sm-4"><strong>Update Interval</strong></label>
                    <p th:text="${properties.getUpdateInterval()}">UpdateInterval</p>
                    <label class="col-sm-4"><strong>Last Successful Sync</strong></label>
                    <p th:text="${properties.getLastSuccSync()}">LastSuccSync</p>
                    <label class="col-sm-4"><strong>Last Failed Sync</strong></label>
                    <p th:text="${properties.getLastFailedSync()}">LastFailedSync</p>
                    <label class="col-sm-4"><strong>Failure Details</strong></label>
                    <p th:text="${properties.getFailureDetails()}">LastFailedSync</p>

                    <footer>
                        <div class="pull-right">

                            <th:block sec:authorize="hasRole('ADMIN')">
                            <a class="btn btn-success btn-xs" th:href="@{/admin/git-sync-interval}">Edit</a>
                            </th:block>

                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
</main>
