<main>
    <div class="col-md-10 col-md-offset-1">
        <div class="well">
            <form class="form-horizontal" th:action="@{/extensions/edit/{id}(id=${extension.id})}" method="POST">
                <fieldset>
                    <legend>Edit Extension</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="extension_name">Name</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="extension_name" placeholder="Name" name="name"
                                   th:value="${extension.name}" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="extension_description">Description</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="6" id="extension_description" name="description"
                                      th:field="${extension.description}" required="required">

                            </textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="extension_version">Version</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="extension_version" placeholder="Version" name="version"
                                   th:value="${extension.version}" required="required"/>
                        </div>
                    </div>

                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-4 control-label" for="destination_dropdown_menu">Destination</label>-->
                        <!--<div class="col-sm-4 ">-->
                            <!--<select class="selectpicker" id="destination_dropdown_menu" name="destinationId"-->
                                    <!--required="required">-->
                                <!--&lt;!&ndash;<option th:value="${article.destination.id}"&ndash;&gt;-->
                                <!--&lt;!&ndash;th:text="${article.destination.name}"&ndash;&gt;-->
                                <!--&lt;!&ndash;selected="selected">&ndash;&gt;-->

                                <!--&lt;!&ndash;</option>&ndash;&gt;-->
                                <!--<option-->
                                        <!--th:each="destination : ${destinations}"-->
                                        <!--th:value="${destination.id}"-->
                                        <!--th:text="${destination.name}">-->
                                <!--</option>-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/extensions/all}">Cancel</a>
                            <input type="submit" class="btn btn-success" value="Edit"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</main>