<link rel="stylesheet" href="../static/css/carousel.css" th:href="@{/css/carousel.css}"/>
<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
<!--<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>-->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="col-xs-12">

        <div class="page-header">
            <h3>Featured</h3>
            <p>TODO</p>
        </div>

        <div class="carousel slide" id="carousel-featured">
            <div class="carousel-inner">
                <div class="item active">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /Slide1 -->
                <div class="item">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /Slide2 -->
                <div class="item">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /Slide3 -->
            </div>


            <nav>
                <ul class="control-box pager">
                    <li><a data-slide="prev" href="#carousel-featured" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                    <li><a data-slide="next" href="#carousel-featured" class=""><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                </ul>
            </nav>
            <!-- /.control-box -->

        </div><!-- /#carousel-featured -->



    </div><!-- /.col-xs-12 -->
</div><!-- /.container -->


<div class="container">
    <div class="col-xs-12">

        <div class="page-header">
            <h3>New</h3>
            <p>TODO</p>
        </div>

        <div class="carousel slide" id="carousel-popular">
            <div class="carousel-inner">
                <div class="item active">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /Slide1 -->
                <div class="item">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /Slide2 -->
                <div class="item">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /Slide3 -->
            </div>


            <nav>
                <ul class="control-box pager">
                    <li><a data-slide="prev" href="#carousel-popular" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                    <li><a data-slide="next" href="#carousel-popular" class=""><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                </ul>
            </nav>
            <!-- /.control-box -->

        </div><!-- /#carousel-popular -->



    </div><!-- /.col-xs-12 -->

    <!--<div class="col-xs-12">-->

    <!--<div class="page-header">-->
    <!--<h3>New</h3>-->
    <!--<p>TODO</p>-->
    <!--</div>-->

    <!--<div class="carousel slide" id="carousel-new">-->
    <!--<div class="carousel-inner">-->
    <!--<div class="item active">-->
    <!--<ul class="thumbnails">-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>&lt;!&ndash; /Slide1 &ndash;&gt;-->
    <!--<div class="item">-->
    <!--<ul class="thumbnails">-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>&lt;!&ndash; /Slide2 &ndash;&gt;-->
    <!--<div class="item">-->
    <!--<ul class="thumbnails">-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>&lt;!&ndash; /Slide3 &ndash;&gt;-->
    <!--</div>-->


    <!--<nav>-->
    <!--<ul class="control-box pager">-->
    <!--<li><a data-slide="prev" href="#carousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>-->
    <!--<li><a data-slide="next" href="#carousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></a></li>-->
    <!--</ul>-->
    <!--</nav>-->
    <!--&lt;!&ndash; /.control-box &ndash;&gt;-->

    <!--</div>&lt;!&ndash; /#carousel-new &ndash;&gt;-->



    <!--</div>&lt;!&ndash; /.col-xs-12 &ndash;&gt;-->

    <!--<div class="col-xs-12">-->

    <!--<div class="page-header">-->
    <!--<h3>Popular</h3>-->
    <!--<p>TODO</p>-->
    <!--</div>-->

    <!--<div class="carousel slide" id="carousel-popular">-->
    <!--<div class="carousel-inner">-->
    <!--<div class="item active">-->
    <!--<ul class="thumbnails">-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>&lt;!&ndash; /Slide1 &ndash;&gt;-->
    <!--<div class="item">-->
    <!--<ul class="thumbnails">-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>&lt;!&ndash; /Slide2 &ndash;&gt;-->
    <!--<div class="item">-->
    <!--<ul class="thumbnails">-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>&lt;!&ndash; /Slide3 &ndash;&gt;-->
    <!--</div>-->


    <!--<nav>-->
    <!--<ul class="control-box pager">-->
    <!--<li><a data-slide="prev" href="#carousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>-->
    <!--<li><a data-slide="next" href="#carousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></a></li>-->
    <!--</ul>-->
    <!--</nav>-->
    <!--&lt;!&ndash; /.control-box &ndash;&gt;-->

    <!--</div>&lt;!&ndash; /#carousel-popular &ndash;&gt;-->



    <!--</div>&lt;!&ndash; /.col-xs-12 &ndash;&gt;-->



</div><!-- /.container -->

<div class="container">
    <div class="col-xs-12">

        <div class="page-header">
            <h3>New</h3>
            <p>TODO</p>
        </div>

        <div class="carousel slide" id="carousel-new">
            <div class="carousel-inner">
                <div class="item active">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /Slide1 -->
                <div class="item">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /Slide2 -->
                <div class="item">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption">
                                    <h4>Praesent commodo</h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /Slide3 -->
            </div>


            <nav>
                <ul class="control-box pager">
                    <li><a data-slide="prev" href="#carousel-new" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                    <li><a data-slide="next" href="#carousel-new" class=""><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                </ul>
            </nav>
            <!-- /.control-box -->

        </div><!-- /#carousel-new -->



    </div><!-- /.col-xs-12 -->

    <!--<div class="col-xs-12">-->

    <!--<div class="page-header">-->
    <!--<h3>New</h3>-->
    <!--<p>TODO</p>-->
    <!--</div>-->

    <!--<div class="carousel slide" id="carousel-new">-->
    <!--<div class="carousel-inner">-->
    <!--<div class="item active">-->
    <!--<ul class="thumbnails">-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>&lt;!&ndash; /Slide1 &ndash;&gt;-->
    <!--<div class="item">-->
    <!--<ul class="thumbnails">-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>&lt;!&ndash; /Slide2 &ndash;&gt;-->
    <!--<div class="item">-->
    <!--<ul class="thumbnails">-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>&lt;!&ndash; /Slide3 &ndash;&gt;-->
    <!--</div>-->


    <!--<nav>-->
    <!--<ul class="control-box pager">-->
    <!--<li><a data-slide="prev" href="#carousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>-->
    <!--<li><a data-slide="next" href="#carousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></a></li>-->
    <!--</ul>-->
    <!--</nav>-->
    <!--&lt;!&ndash; /.control-box &ndash;&gt;-->

    <!--</div>&lt;!&ndash; /#carousel-new &ndash;&gt;-->



    <!--</div>&lt;!&ndash; /.col-xs-12 &ndash;&gt;-->

    <!--<div class="col-xs-12">-->

    <!--<div class="page-header">-->
    <!--<h3>Popular</h3>-->
    <!--<p>TODO</p>-->
    <!--</div>-->

    <!--<div class="carousel slide" id="carousel-popular">-->
    <!--<div class="carousel-inner">-->
    <!--<div class="item active">-->
    <!--<ul class="thumbnails">-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>&lt;!&ndash; /Slide1 &ndash;&gt;-->
    <!--<div class="item">-->
    <!--<ul class="thumbnails">-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>&lt;!&ndash; /Slide2 &ndash;&gt;-->
    <!--<div class="item">-->
    <!--<ul class="thumbnails">-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="col-sm-3">-->
    <!--<div class="fff">-->
    <!--<div class="thumbnail">-->
    <!--<a href="#"><img src="http://placehold.it/360x240" alt=""></a>-->
    <!--</div>-->
    <!--<div class="caption">-->
    <!--<h4>Praesent commodo</h4>-->
    <!--<p>Nullam Condimentum Nibh Etiam Sem</p>-->
    <!--<a class="btn btn-mini" href="#">» Read More</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>&lt;!&ndash; /Slide3 &ndash;&gt;-->
    <!--</div>-->


    <!--<nav>-->
    <!--<ul class="control-box pager">-->
    <!--<li><a data-slide="prev" href="#carousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>-->
    <!--<li><a data-slide="next" href="#carousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></a></li>-->
    <!--</ul>-->
    <!--</nav>-->
    <!--&lt;!&ndash; /.control-box &ndash;&gt;-->

    <!--</div>&lt;!&ndash; /#carousel-popular &ndash;&gt;-->



    <!--</div>&lt;!&ndash; /.col-xs-12 &ndash;&gt;-->



</div><!-- /.container -->
<!--<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>-->
<!--<script th:src="@{https://code.jquery.com/jquery-1.11.1.min.js}"-->
        <!--integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="-->
        <!--crossorigin="anonymous"></script>-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script th:src="@{/jquery/carousel.js}"></script>

